body{
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;

    padding-inline-end: 0;
    padding-inline-start: 0;
    padding-block-end:0;
    padding-block-start: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

/*navbar*/ 

.header{
    width: 100%;
    height: 60px;

}
/*mandar a lado derecho*/
.header .header-nav{
    display: flex;
    justify-content: flex-end;
}

.header .header-nav .header-nav-right-section{
    
    width: 250px;
    height: auto;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .header-nav .header-nav-right-section a{
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.header .header-nav .header-nav-right-section .menu-icon{
    background-image: url("https://static.thenounproject.com/png/756729-200.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}


.header .header-nav .header-nav-right-section .menu-img{
   border-radius: 50%;
}

/*main*/ 


.main-content{

    margin-block-start:150px;
    text-align: center;
}

/*main logo*/ 
.main-content .logo{

    width: 100vw;
    margin: 0 auto;
    margin-bottom: 35px;
}
.main-content .logo img{
    width: 250px;
}


/*main input*/ 

.main-content .Search-bar{
    width: 100vw;
    margin: 0 auto;
    margin-bottom: 35px;
}

.main-content .Search-bar .Search-bar-container{
    border: 1px solid #dfe1e5;
    width: 85vw;
    border-radius: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content .Search-bar .Search-bar-container .Search-bar-input{
    width: 70%;
    height: 40px;
    border:none;
    outline: none;
}

.main-content .Search-bar .Search-bar-container:hover{
    box-shadow: 0px 1px 6px 0px #202124;
    border-color: #dfe1e500;
}

.main-content .Search-bar .Search-bar-container .Search-bar-icon{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
    width: 15%;
    height: 20px;
}
.main-content .Search-bar .Search-bar-container .Search-bar-btn{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
    width: 15%;
    height: 20px;
    cursor: pointer;
}

/*main btn*/ 

.main-content .btn{
    width: 100vw;
    margin: 0 auto;
}

.main-content .btn div{
    display: inline-block;
}

.main-content .btn button{
    height: 36px;
    background-color: #f2f2f2;
    border: none;
    font-size: 14px;
    color : #5f6368;
    padding: 0 15px;
    margin-right: 10px;
}
.main-content .btn button:hover{
    border: 1px solid #331818;
    box-shadow: 0 1px 1px #000001 ;
    color:#222;
}