.footer {
  width: 100vw;
  height: 50px;
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-size: 13px;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  display: none;
}

.footer ul {
  margin: 10px;
  list-style: none;
  display: flex;
  padding-left: 0;
}

.footer .footer-left {
  justify-self: left;
}

.footer .footer-Rigth {
  justify-self: right;
}

.footer li {
  margin: 5px;
}
.footer a {
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  .footer {
    display: grid;
  }
}
