/*navbar*/

.header {
  width: 100%;
  height: 60px;
}
/*mandar a lado derecho*/
.header .header-nav {
  display: flex;
  justify-content: flex-end;
}

.header .header-nav .header-nav-right-section {
  width: 250px;
  height: auto;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .header-nav .header-nav-right-section a {
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.header .header-nav .header-nav-right-section .menu-icon {
  background-image: url("https://static.thenounproject.com/png/756729-200.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 25px;
  height: 25px;
}

.header .header-nav .header-nav-right-section .menu-img {
  border-radius: 50%;
}
